/* 账户管理 */
.entry-con{
    padding: 1px 14px;
	padding-right: 0;
}
.entry-con .con-box {
	padding-right: 28rpx;
}
.entry-con .con-box .head-portrait {
  width: 40px;
  height: 40px;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}
.entry-con .con-box .head-portrait .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.entry-con .con-box .fr {
  display: flex;
  align-items: center;
}
.entry-con .con-box img {
  display: block;
}
.entry-con .con-box .fl .entry-name {
  color: #666;
}
.entry-con .con-box .fr .entry-txt {
  margin-right: 10rpx;
}
.entry-con .con-box .fr .col-3 {
  color: #333;
  text-align: right;
}
/* end 账户管理 */

/* 修改资料 */
.modify .item {
  position: relative;
  padding: 14px;
  background: #fff;
  display: flex;
  align-items: center;
}
.modify .item:before {
  content: " ";
  display: block;
  width: auto;
  height: 1px;
  background: #f1f1f1;
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
}
.modify .item:first-child:before {
  height: 0;
}
.modify .item .item-input {
  height: 24px;
  font-size: 14px;
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  font-family: arial;
}
.modify .item .clear-info {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 0;
  cursor: pointer;
  text-align: right;
}
.modify .item .clear-info .img {
  width: 14px;
  height: 14px;
  margin-top: 5px;
}
.modify .item-tip {
  line-height: 20px;
  font-size: 12px;
  color: #999;
  padding: 0 14px;
  margin-top: 14px;
}
.modify .item .sex {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.modify .item .choose {
  display: block;
  margin-top: 3px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  font-size: 0;
  background: url('~@/static/images/choose.png') no-repeat;
  background-size: 18px 18px;
}
.modify .item .choose.cur {
  background: url('~@/static/images/choosed.png') no-repeat;
  background-size: 18px 18px;
}
.modify .item .send-code {
  color: #333;
  font-size: 12px;
  display: block;
  border-radius: 13px;
  width: 80px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #666;
}
/* end 修改资料 */

/* 关于我们 */
.about {
  padding-top: 10px;
}
.about .app-code {
  margin: 10px auto 20px;
  text-align: center;
}
.about .app-code .logo {
  height: 30px;
  font-size: 0;
}
.about .app-code .logo .img {
  height: 100%;
}
.about .app-code .edition {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}
.about .app-code .code {
  margin-top: 10px;
  height: 100px;
  font-size: 0;
}
.about .app-code .code .img {
  width: 100px;
  height: 100px;
}
.about .app-code .des {
  margin-top: 10px;
  color: #666;
  font-size: 12px;
}
.about .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
/* end 关于我们 */
