/* 收货地址 */
.delivery {
    background: #fff;
    padding: 0 14px;
    padding-bottom: 48px;
}
.delivery .del-address {
    background: #fff;
    padding: 10px 0;
    line-height: 24px;
    position: relative;
    display: flex;
    align-items: center;
}
.delivery .del-address::before {
    content: " ";
    position: absolute;
    bottom: 0rpx;
    right: -50rpx;
    width: 100%;
    height: 2rpx;
    background: #f1f1f1;
    display: inline-block;
}
.delivery .del-address .choose {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 0;
    background: url("~@/static/images/choose.png") no-repeat;
    background-size: 18px 18px;
}
.delivery .del-address .choose.cur {
    background: url("~@/static/images/choosed.png") no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    /* background-color: var(--themescolor); */
    background-color: #d12f1a;
}
.delivery .del-address .address-con {
    /* margin: 0 28px 0 0; */
    max-width: 540rpx;
    margin: 0 28px;
}
/* .delivery .del-address.on .address-con {
    margin: 0 28px;
} */
.delivery .del-address .address-con .item-p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10rpx 0;
}
.delivery .del-address .address-con .item-p .name {
    font-family: PingFangSC-Regular;
    font-size: 24rpx;
    color: #666666;
    letter-spacing: 0;
}
.delivery .del-address .address-con .item-p .phone {
    font-size: 28rpx;
    font-family: arial;
    margin-left: 13px;
}
.delivery .del-address .address-con .item-b {
    font-family: PingFangSC-Regular;
    font-size: 24rpx;
    color: #666666;
    letter-spacing: 0;
    margin-top: 12rpx;
}
.delivery .del-address .address-con .item-b .name {
    margin-right: 20rpx;
}
.delivery .del-address .address-con .item-p .warehouseName {
    display: inline-block;
    line-height: 36rpx;
    background: rgba(24, 161, 255, 0.1);
    color: #18a1ff;
    padding: 0 8rpx;
    border-radius: 4rpx;
    font-size: 20rpx;
    margin-right: 20rpx;
}
.delivery .del-address .address-con .item-p .def {
    display: inline-block;
    line-height: 36rpx;
    background: rgba(220, 35, 30, 0.1);
    color: #dc231e;
    padding: 0 8rpx;
    border-radius: 4rpx;
    font-size: 20rpx;
    margin-right: 20rpx;
}
.delivery .del-address .address-con .det {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
}
.delivery .del-address .edit {
    position: absolute;
    top: calc(50%+9px);
    right: 0;
    display: block;
    font-size: 0;
    width: 18px;
    height: 18px;
}
.delivery .del-address .edit .img {
    width: 100%;
    height: 100%;
}
/* end 收货地址 */

/* 编辑地址 */
.edit-address {
    background: #fff;
    padding: 0 14px;
}
.edit-address .item {
    line-height: 24px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    position: relative;
    padding: 14px 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.edit-address .item .item-span {
    display: block;
    width: 70px;
    line-height: 24px;
    color: #666;
    font-size: 14px;
}
.edit-address .item .item-inp,
.edit-address .item .item-btn {
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    line-height: 24px;
    border: 0;
    background: #fff;
    text-align: left;
    font-size: 14px;
}
.edit-address .item .arr {
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    font-size: 0;
    margin-top: 6px;
}
.edit-address .item .arr .img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.edit-address .item .item-txt {
    line-height: 24px;
    height: 48px;
    border: 0;
    font-size: 14px;
    vertical-align: top;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    margin-right: 5px;
    align-items: flex-start;
}
.edit-address .item .item-tip {
    color: #999;
    font-size: 12px;
    margin-left: 2px;
}
.edit-address .item .send-code {
    color: #666;
    font-size: 14px;
    display: block;
    line-height: 24px;
    padding: 0 10px;
    border-left: 1px solid #f1f1f1;
}
.edit-address .item .on-off {
    position: absolute;
    right: 0;
}
.edit-address .item .on-off {
    position: absolute;
    right: 14px;
    top: 10px;
    display: inline-block;
    width: 42px;
    height: 24px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ededed;
}
.edit-address .item .on-off:before {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 20px;
    width: 20px;
    content: " ";
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-animation: on-off1 0.2s ease 1;
    -o-animation: on-off1 0.2s ease 1;
    animation: on-off1 0.2s ease 1;
    cursor: pointer;
}
.edit-address .item .on {
    background-color: var(--themescolor);
    border-color: var(--themescolor);
}
.edit-address .item .on:before {
    right: 1px;
    left: auto;
    -webkit-box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-animation: on-off 0.2s ease 1;
    -o-animation: on-off 0.2s ease 1;
    animation: on-off 0.2s ease 1;
    cursor: pointer;
}
.new-add {
    position: fixed;
    bottom: 20rpx;
    height: 48px;
    background: var(--themescolor);
    width: 722rpx;
    max-width: 722rpx;
    text-align: center;
    color: #fff;
    line-height: 88rpx;
    font-size: 30rpx;
    border-radius: 44rpx;
    left: 14rpx;
}
/* end 编辑地址 */

/* 申请推广 */
.edit-tit {
    padding: 10px;
    line-height: 22px;
    font-size: 12px;
    color: #999;
    background: #f6f7f8;
}
/* end 申请推广 */
