/* 积分商品详情 */
.integral-detail {
  margin-bottom: 60px;
}

.det-banner {
  text-align: center;
  background-color: #fff;
  height: auto;
  font-size: 0;
  position: relative;
}
.det-banner .pro-img {
  display: inline-block;
  width: 100%;
}
.det-banner .pro-img .li {
  float: left;
  width: 100%;
}
.det-banner .pro-img .li .img {
  width: 100%;
  height: 375px;
}
.det-banner .pro-page {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.det-banner .pro-page li {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fafafa;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
}
.det-banner .pro-page .on {
  background: #9ae684;
}

.goods-msg {
  padding: 10px;
  background: #fff;
  position: relative;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.goods-msg .left {
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  margin-right: 10px;
}
.goods-msg .left .name {
  display: block;
  font-size: 15px;
  line-height: 24px;
  word-break: break-all;
}
.goods-msg .left .price-box {
  display: flex;
  margin-top: 8px;
  height: 24px;
}


.goods-msg .left .price-box .price {
  font-size: 20px;
  line-height: 26px;
  font-family: verdana;
}
.goods-msg .left .price-box .sale-price {
  color: #999;
  margin-left: 10px;
  font-size: 12px;
  line-height: 28px;
}
.goods-msg .left .price-box .sale-price .old-price {
  font-family: arial;
}

.goods-msg .right {
  font-size: 12px;
  text-align: right;
}
.goods-msg .right .num .sub-a {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-align: center;
  background: #fff;
  height: 24px;
  line-height: 22px;
  width: 26px;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: 600;
  background: #f7f7f7;
}
.goods-msg .right .num .sub-a.sub-limit {
  color: #999;
  cursor: default;
}
.goods-msg .right .num .sub-input {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  width: 38px;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: arial;
  background: #fff;
  padding: 0 5px;
}
.goods-msg .right .rest {
  display: block;
  margin-top: 8px;
  line-height: 28px;
  color: #999;
  text-align: center;
}
.goods-msg .right .rest .rest-span {
  margin: 0 2px;
  font-family: arial;
}

.goods-introduction {
  background: #fff;
  padding: 0 10px;
  margin-top: 10px;
}
.goods-introduction .int-tit {
  padding: 10px 0;
  line-height: 24px;
  font-size: 14px;
  border-bottom: 1px solid #f1f1f1;
}
.goods-introduction .int-tit .txt {
  position: relative;
  padding-left: 10px;
}
.goods-introduction .int-tit .txt:before {
  content: " ";
  display: block;
  width: 2px;
  height: 14px;
  background: var(--themescolor);
  position: absolute;
  left: 0;
  top: 3px;
}
.goods-introduction .int-con {
  padding: 10px 0;
  font-size: 13px;
  color: #666;
  line-height: 24px;
}

.foot-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  max-width: 750px;
  background: #fff;
  height: 50px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.05);
}
.foot-btn .exchanged {
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  line-height: 50px;
  font-size: 13px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
}
.foot-btn .exchanged .txt {
  font-family: arial;
  font-size: 14px;
  margin-right: 2px;
}
.foot-btn .btn {
  display: block;
  width: 98px;
  line-height: 48px;
  text-align: center;
  background: var(--themescolor);
  color: #fff;
  font-size: 15px;
  height: 49px;
  margin-top: 1px;
  padding: 0 10px;
}
/* end 积分商品详情 */
